@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root{
  --background-color: #f2f2f2;
  --link-color: #303440;
  --background-hover: #F6F8FA;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-size: 18px;
  font-family: 'Poppins';
}

.nav {
  width: 	300px;
}

.menu{
  width: 100%;
  height: 100vh;
  background-color: white;
  border-radius: 0 18px 18px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 30%);
}

.menu-item {
  width: 100%;
  list-style: none;
  text-align: center;
  overflow: hidden;
}

.menu-link {
  text-decoration: none;
  color: var(--link-color);
  display: block;
  padding: 10px 0;
}
.menu-link-insite:hover{
  background-color: var(--background-hover);
}

.list-arrow{
  margin-left: auto;
  transition: transform 0.5s;
}
.arrow .list-arrow{
  transform: rotate(90deg);
}

.container-button {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
}
.menu-link-insite {
  padding-left: 20px;
  text-align: left;
}
.menu-item-click {
  cursor: pointer;
}

.submenu {
  width: 80%;
  list-style: none;
  border-left: 2px solid var(--link-color);
  margin-left: auto;
  height: 0;
  transition: height 0.5s;
}